body {
  background-color: #f5f5f5;
}

.form-item {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-item .checkbox {
  font-weight: 400;
}
.form-item .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-item .form-control:focus {
  z-index: 2;
}
.form-item input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
