{% macro render_field(field, hidden_label=False) %}
  <div class="from-group mb-3">
    {% if field.errors %}
      {% set invalid_class = " is-invalid" %}
    {% else %}
      {% set invalid_class = "" %}
    {% endif %}
    {% if not hidden_label %}
      {{ field.label }}
      {% if field.mark_required %}
        <span>*</span>
      {% endif %}
      {{ field(class_="form-control" + invalid_class, **kwargs)|safe }}
    {% else %}
      {{ field.label(class="sr-only") }}
      {% if field.mark_required %}
        {{ field(class_="form-control" + invalid_class, placeholder=field.label.text + ' *', **kwargs)|safe }}
      {% else %}
        {{ field(class_="form-control" + invalid_class, placeholder=field.label.text, **kwargs)|safe }}
      {% endif %}

    {% endif %}
    {% if field.description %}
    <small id="{{field.id}}-description" class="form-text text-muted">
      {{ field.description }}
    </small>
    {% endif %}
    {% if field.errors %}
    <div class="invalid-feedback">
      {% for error in field.errors %}
      <p class="mb-0">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro _render_global_errors(global_errors) %}
  {% for error in global_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endmacro %}

{% macro _render_fields(form, fields, autofocus, hidden_labels) %}
  {% if fields %}
    {% if form.required_msg %}
      <span class="form-text text-muted mb-1">
        {{ _('Fields marked with an asterisk (*) are required') }}
      </span>
    {% endif %}
    {% for field in fields %}
      {% if not autofocus or autofocus != field %}
        {{ render_field(field, hidden_label=hidden_labels) }}
      {% else %}
        {{ render_field(field, autofocus=true, hidden_label=hidden_labels) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro _render_form_body(form, fields, autofocus, hidden_labels, caller=None) %}
  {{ _render_global_errors(form.global_errors) }}
  {% if caller %}
    {{ caller() }}
  {% endif %}
  {{ _render_fields(form, fields, autofocus, hidden_labels) }}
{% endmacro %}

{% macro make_form(title, form, fields=None, title_level="1", autofocus=None, hidden_labels=False, action=None, method="post", save=_('Save'), class="simple-form") %}
  <form class="{{ class }}" {% if action %}action="{{action}}"{% endif %} method="{{method}}">
    <h{{title_level}} class="text-center">{{title}}</h{{title_level}}>
    {{ _render_form_body(form, fields, autofocus, hidden_labels, caller) }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ save }}</button>
  </form>
{% endmacro %}

{% macro make_modal_form(id, title, form, fields=None, title_level="2", autofocus=None, hidden_labels=False, action=None, method="post", save=_('Save')) %}
  <div id="{{id}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form {% if action %}action="{{action}}"{% endif %} method="{{method}}">
          <div class="modal-header">
           <h{{title_level}} class="modal-title">{{title}}</h{{title_level}}>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            {{ _render_form_body(form, fields, autofocus, hidden_labels, caller) }}
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ _('Cancel') }}">
            <input type="submit" class="btn btn-success" value="{{ save }}">
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if form.errors %}
  <script>
    // Hubieron errores, levantar el modal.
    document.addEventListener("DOMContentLoaded", function(event) {
      $('{{ "#{}".format(id) }}').modal('show');
    });
  </script>
  {% endif %}
{% endmacro %}

{% macro _delete_body_content(element) %}
  <p class="lead">{{ _('Do you really want to delete "%(element)s"?', element=element) }}</p>
  <p class="text-warning">{{ _('This action cannot be undone.') }}</p>
{% endmacro %}

{% macro make_delete_form(id, title, form, element, title_level="2", action=None) %}
  {% call make_form(id, title, form, title_level=title_level, action=action, save=_('Delete')) %}
    {{ _delete_body_content(element) }}
  {% endcall %}
{% endmacro %}

{% macro make_delete_modal_form(id, title, form, element, title_level="2", action=None) %}
  {% call make_modal_form(id, title, form, title_level=title_level, action=action, save=_('Delete')) %}
    {{ _delete_body_content(element) }}
  {% endcall %}
{% endmacro %}
