{% macro _render_field(field, hidden_label=False) %}
  <!--suppress ALL -->
<div class="from-group mb-3">
    {% if field.errors %}
      {% set invalid_class = " is-invalid" %}
    {% else %}
      {% set invalid_class = "" %}
    {% endif %}
    {% if not hidden_label %}
      {{ field.label }}
      {% if field.mark_required %}
        <span>*</span>
      {% endif %}
      {{ field(class_="form-control" + invalid_class, **kwargs)|safe }}
    {% else %}
      {{ field.label(class="sr-only") }}
      {% if field.mark_required %}
        {{ field(class_="form-control" + invalid_class, placeholder=field.label.text + ' *', **kwargs)|safe }}
      {% else %}
        {{ field(class_="form-control" + invalid_class, placeholder=field.label.text, **kwargs)|safe }}
      {% endif %}

    {% endif %}
    {% if field.description %}
    <small id="{{field.id}}-description" class="form-text text-muted">
      {{ field.description }}
    </small>
    {% endif %}
    {% if field.errors %}
    <div class="invalid-feedback">
      {% for error in field.errors %}
      <p class="mb-0">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro _render_global_errors(global_errors) %}
  {% for error in global_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endmacro %}

{% macro _render_fields(form, hidden_labels) %}
  {% if form.fields_to_render %}
    {% if form.required_msg %}
      <span class="form-text text-muted mb-1">
        {{ form.required_msg }}
      </span>
    {% endif %}
    {% for field in form.fields_to_render %}
      {% if not form.autofocus_field or form.autofocus_field != field %}
        {{ _render_field(field, hidden_label=hidden_labels) }}
      {% else %}
        {{ _render_field(field, autofocus=true, hidden_label=hidden_labels) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro _render_form_body(form, hidden_labels) %}
  {{ _render_global_errors(form.global_errors) }}
  {% if form.extra_body_html %}
    {{ form.extra_body_html|safe }}
  {% endif %}
  {{ _render_fields(form, hidden_labels) }}
{% endmacro %}

{% macro make_form(form, title_level="1", hidden_labels=False, class="simple-form") %}
  <form class="{{ class }}" {% if form.action %}action="{{ form.action }}"{% endif %} method="{{ form.method }}">
      <h{{title_level}} class="text-center">{{ form.title }}</h{{title_level}}>
    {{ _render_form_body(form, hidden_labels) }}
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ form.submit }}</button>
    {% if form.extra_footer_html %}
      {{ form.extra_footer_html|safe }}
    {% endif %}
  </form>
{% endmacro %}

{% macro make_modal_form(form, title_level="2", hidden_labels=False) %}
  <div id="{{ form.modal_id }}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form {% if form.action %}action="{{ form.action }}"{% endif %} method="{{ form.method }}">
          <div class="modal-header">
            <h{{title_level}} class="modal-title">{{ form.title }}</h{{title_level}}>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            {{ _render_form_body(form, hidden_labels) }}
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ _('Cancel') }}">
            <input type="submit" class="btn btn-success" value="{{ form.submit }}">
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if form.errors %}
  <script>
    // Hubieron errores, levantar el modal.
    document.addEventListener("DOMContentLoaded", function(event) {
      $('{{ "#{}".format(form.modal_id) }}').modal('show');
    });
  </script>
  {% endif %}
{% endmacro %}
