{% macro render_field(field, hidden_label=False) %}
  <div class="from-group mb-3">
    {% if field.errors %}
      {% set invalid_class = " is-invalid" %}
    {% else %}
      {% set invalid_class = "" %}
    {% endif %}
    {% if not hidden_label %}
      {{ field.label }}
      {{ field(class_="form-control" + invalid_class, **kwargs)|safe }}
    {% else %}
      {{ field.label(class="sr-only") }}
      {{ field(class_="form-control" + invalid_class, placeholder=field.label.text, **kwargs)|safe }}
    {% endif %}
    {% if field.description %}
    <small id="{{field.id}}-description" class="form-text text-muted">
      {{ field.description }}
    </small>
    {% endif %}
    {% if field.errors %}
    <div class="invalid-feedback">
      {% for error in field.errors %}
      <p class="mb-0">{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro make_form(title, form, fields_values, title_level="1", autofocus=None, action=None, method="post", save=_('Save')) %}
  <form class="simple-form" {% if action %}action="{{action}}"{% endif %} method="{{method}}">
    <h{{title_level}} class="text-center">{{title}}</h{{title_level}}>
    {% for error in form.global_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% for fv in fields_values %}
      {% if fv is sequence and fv is not string %}
        {% set field = fv[0] %}
        {% if fv|length == 2 %}
          {% set value = fv[1] %}
        {% endif %}
      {% else %}
        {% set field = fv %}
      {% endif %}
      {% if not autofocus or autofocus != field %}
        {% if value is defined %}
          {{ render_field(field, value=value) }}
        {% else %}
          {{ render_field(field) }}
        {% endif %}
      {% else %}
        {% if value is defined %}
          {{ render_field(field, value=value, autofocus=true) }}
        {% else %}
          {{ render_field(field, autofocus=true) }}
        {% endif %}
      {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ save }}</button>
  </form>
{% endmacro %}

{% macro make_modal_form(id, title, form, fields_values, title_level="2", autofocus=None, action=None, method="post", save=_('Save')) %}
  <div id="{{id}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form {% if action %}action="{{action}}"{% endif %} method="{{method}}">
          <div class="modal-header">
           <h2 class="modal-title">{{title}}</h2>
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            {% for error in form.global_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ error }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            {% for fv in fields_values %}
              {% if fv is sequence and fv is not string %}
                {% set field = fv[0] %}
                {% if fv|length == 2 %}
                  {% set value = fv[1] %}
                {% endif %}
              {% else %}
                {% set field = fv %}
              {% endif %}
              {% if not autofocus or autofocus != field %}
                {% if value is defined %}
                  {{ render_field(field, value=value) }}
                {% else %}
                  {{ render_field(field) }}
                {% endif %}
              {% else %}
                {% if value is defined %}
                  {{ render_field(field, value=value, autofocus=true) }}
                {% else %}
                  {{ render_field(field, autofocus=true) }}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="{{ _('Cancel') }}">
            <input type="submit" class="btn btn-success" value="{{ save }}">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    // Si hubieron errores, levantar el modal.
    var formErrors = {% if form.errors or form.global_errors %}true{% else %}false{% endif %};

    document.addEventListener("DOMContentLoaded", function(event) {
      if (formErrors) {
        $('{{ "#{}".format(id) }}').modal('show'); // FIXME
      }
    });
  </script>
{% endmacro %}
