{% extends "layout.html" %}

{% block main %}
  <div class="text-center">
    <h1>Personal Inventory</h1>
    <p class="lead">Web application written in Python with
      <strong>Flask</strong> and <strong>SQLAlchemy</strong> for managing
      an inventory of personal objects.
    </p>
    {% if not session.user_id %}
    <p class="lead">Please <a href="{{ url_for('login') }}">login</a>
      or <a href="{{ url_for('register') }}">register</a> to use the application.
    </p>
    {% endif %}
  </div>
{% endblock %}
