{% extends "layout.html" %}

{% block nav_home_active %}active{% endblock %}

{% block main %}
  <div class="text-center">
    <h1>Personal Inventory</h1>
    <p class="lead">{% trans %}Web application written in Python with
      <strong>Flask</strong> and <strong>SQLAlchemy</strong> for managing
      an inventory of personal objects.{% endtrans %}
    </p>
    {% if not user %}
    <p class="lead">
      {{ _('Please <a href="%(login)s">login</a> or <a href="%(register)s">register</a> to use the application.',
           login=url_for('login'), register=url_for('register')) }}
    </p>
    {% endif %}
  </div>
{% endblock %}
