{% macro item_editor_modal(locations, item=None, default_location=None) %}
    <div id={% if item is none %}
            {% if default_location is none %}
            "new-item-modal"
            {% else %}
            "new-item-in-{{default_location.id}}-modal"
            {% endif %}
            {% else %}
            "edit-item-{{item.id}}-modal"
            {% endif %} class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action={% if item is none %}
                       "{{ url_for('items') }}"
                       {% else %}
                       "{{ url_for('item', item_id=item.id) }}"
                       {% endif %} method="post">
            <div class="modal-header">
              <h3 class="modal-title">
                {% if item is none %}
                New Item
                {% else %}
                Editing Item
                {% endif %}
              </h3>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label
                   for={% if item is none %} "item-description" {% else %} "item-description-{{item.id}}" {% endif %}
                   class="sr-only">
                  Description
                </label>
                <input
                   id={% if item is none %} "item-description" {% else %} "item-description-{{item.id}}" {% endif %}
                   name="description" class="form-control" placeholder="Description" type="text" required
                   value={% if item is none %} "" {% else %} "{{item.description}}" {% endif %}>
              </div>
              <div class="form-group">
                <select name="location">
                  {% for loc in locations %}
                  <option value="{{loc.id}}"
                     {% if default_location is not none %}
                       {% if default_location.id == loc.id %}
                       selected = "true"
                       {% endif %}
                     {% else %}
                       {% if item is not none and item.location_id == loc.id %}
                       selected = "true"
                       {% endif %}
                     {% endif %}>
                    {{loc.description}}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label
                   for={% if item is none %} "quantity" {% else %} "quantity-{{item.id}}" {% endif %}
                   class="sr-only">
                  Quantity
                </label>
                <input
                   id={% if item is none %} "quantity" {% else %} "quantity-{{item.id}}" {% endif %}
                   name="quantity" class="form-control" placeholder="Quantity" type="number"
                   value={% if item is none %} "" {% else %} "{{item.quantity}}" {% endif %}>
              </div>
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
              <input type="submit" class="btn btn-success" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
{% endmacro %}
