{% extends "layout.html" %}

{% block nav_items_active%}active{% endblock %}

{% from 'item-editor.html' import item_modal_form %}
{% from 'delete-item.html' import delete_item_modal %}

{% block main %}
<div class="row mb-2">
  <h1 class="col-sm-10">{{ _('Managing items') }}</h1>
  <div class="col-sm-2 mt-1">
    <a href="#new-item-modal" class="btn btn-success justify-content-sm-end" role="button" data-toggle="modal">
      <i class="fa fa-plus"></i> {{ _('New item') }}
    </a>
  </div>
</div>
{{ item_modal_form(forms['new_item']) }}

{% if not items %}
<p class="lead">{{ _('No items yet, try creating some item first.') }}</p>
{% endif %}
{% for item in items %}
<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <h2 class="card-title"><strong>{{item.description}}</strong></h2>
      </div>
      <div class="col-sm-3 mt-1">
        <a href="#edit-item-{{item.id}}-modal" class="btn btn-warning" role="button" data-toggle="modal"><i class="fas fa-edit"></i> {{ _('Edit') }}</a>
        <a href="#delete-item-{{item.id}}-modal" class="btn btn-danger" role="button" data-toggle="modal"><i class="fas fa-trash-alt"></i> {{ _('Delete') }}</a>
      </div>
    </div>
    <p class="card-text">
      <strong>{{ _('Location:') }}</strong>
      <a href="{{url_for('location', location_id=item.location.id)}}">
      {{item.location.description}}
    </a>
  </p>
    {% if item.quantity is not none %}
    <p class="card-text"><strong>{{ _('Quantity:') }}</strong> {{item.quantity}}</p>
    {% endif %}
  </div>
</div>
{{ item_modal_form(forms['edit_item_{}'.format(item.id)], item) }}
{{ delete_item_modal(forms['delete_item_{}'.format(item.id)], item) }}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/modal-helper.js')}}"></script>
{% endblock %}
