{% extends "layout.html" %}

{% block nav_locations_active%}active{% endblock %}

{% from "_formhelpers.html" import make_modal_form %}

{% block main %}
<div class="row mb-2">
  <h1 class="col-sm-10">{{ _('Managing locations') }}</h1>
  <div class="col-sm-2 mt-2">
    <a href="#new-location-modal" class="btn btn-success justify-content-sm-end" role="button" data-toggle="modal">
      <i class="fa fa-plus"></i> {{ _('New location') }}
    </a>
  </div>
</div>
{{ make_modal_form(forms['new_location']) }}

{% if not locations %}
<p class="lead">{{ _('No locations yet, try creating some location first.') }}</p>
{% endif %}
{% for location in locations %}
<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="card-title"><strong>{{location.description}}</strong></h2>
      </div>
      <div class="col-sm-4 mt-1">
        <a href="{{ url_for('location', location_id=location.id) }}" class="btn btn-primary">
          <i class="far fa-eye"></i> {{ _('View') }}
        </a>
        <a href="#edit-location-{{location.id}}-modal" class="btn btn-warning" role="button" data-toggle="modal">
          <i class="fas fa-edit"></i> {{ _('Edit') }}
        </a>
        <a href="#delete-location-{{location.id}}-modal" class="btn btn-danger" role="button" data-toggle="modal">
          <i class="fas fa-trash-alt"></i> {{ _('Delete') }}
        </a>
      </div>
    </div>
    <p class="card-text"><strong>{{ _('Items') }}:</strong> {{location.items|length}}</p>
    <a href="#new-item-in-{{location.id}}-modal" class="btn btn-success" role="button" data-toggle="modal">
      <i class="fas fa-plus"></i> {{ _('New item') }}
    </a>
  </div>
</div>
{{ make_modal_form(forms['edit_location_{}'.format(location.id)], title_level="3") }}
{{ make_modal_form(forms['delete_location_{}'.format(location.id)], title_level="3") }}
{{ make_modal_form(forms['new_item_in_{}'.format(location.id)], title_level="3") }}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/modal-helper.js')}}"></script>
{% endblock %}
