{% extends "layout.html" %}

{% from "_formhelpers.html" import make_modal_form %}

{% import 'location-editor.html' as loc_ed %}
{% import 'delete-location.html' as loc_del %}
{% import 'item-editor.html' as it_ed %}
{% import 'delete-item.html' as it_del %}
{% block main %}
<div class="row mb-3">
  <h1 class="col-sm-9">{{ _('Location: %(name)s', name=location.description) }}</h1>
  <div class="col-sm-3 mt-2">
    <a href="#edit-location-{{location.id}}-modal" class="btn btn-warning" role="button" data-toggle="modal">
      <i class="fas fa-edit"></i> {{ _('Edit') }}
    </a>
    <a href="#delete-location-{{location.id}}-modal" class="btn btn-danger" role="button" data-toggle="modal">
      <i class="fas fa-trash-alt"></i> {{ _('Delete') }}
    </a>
  </div>
</div>
<div class="row mb-1">
  <h2 class="col-sm-9">{{ _('Items') }}</h2>
  <div class="col-sm-3">
    <a href="#new-item-in-{{location.id}}-modal" class="btn btn-success" role="button" data-toggle="modal">
      <i class="fas fa-plus"></i> {{ _('New item') }}
    </a>
  </div>
</div>

{{ loc_ed.location_modal_form(forms['edit_location_{}'.format(location.id)], location) }}
{{ loc_del.delete_location_modal(location, forms['delete_location_{}'.format(location.id)]) }}
{{ it_ed.item_editor_modal(locations=locations, default_location=location) }}

{% if not location.items %}
<p class="lead">{{ _('No items in this location yet, try creating some item first.') }}</p>
{% endif %}
{% for item in location.items %}
<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="card-title"><strong>{{item.description}}</strong></h3>
      </div>
      <div class="col-sm-3">
        <a href="#edit-item-{{item.id}}-modal" class="btn btn-warning" role="button" data-toggle="modal"><i class="fas fa-edit"></i> {{ _('Edit') }}</a>
        <a href="#delete-item-{{item.id}}-modal" class="btn btn-danger" role="button" data-toggle="modal"><i class="fas fa-trash-alt"></i> {{ _('Delete') }}</a>
      </div>
    </div>
    {% if item.quantity is not none %}
    <p class="card-text"><strong>{{ _('Quantity:') }} </strong>{{item.quantity}}</p>
    {% endif %}
  </div>
</div>
{{ it_ed.item_editor_modal(locations=locations, item=item) }}
{{ it_del.delete_item_modal(item) }}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/modal-helper.js')}}"></script>
{% endblock %}
