{% extends "layout.html" %}

{% block nav_locations_active%}active{% endblock %}

{% import 'location-editor.html' as loc_ed %}
{% import 'delete-location.html' as loc_del %}
{% import 'item-editor.html' as it_ed %}

{% block main %}
<div class="row mb-2">
  <h1 class="col-sm-10">{{ _('Managing locations') }}</h1>
  <div class="col-sm-2 mt-2">
    <a href="#new-location-modal" class="btn btn-success justify-content-sm-end" role="button" data-toggle="modal">
      <i class="fa fa-plus"></i> {{ _('New location') }}
    </a>
  </div>
</div>

{{ loc_ed.location_editor_modal() }}

{% if not locations %}
<p class="lead">{{ _('No locations yet, try creating some location first.') }}</p>
{% endif %}
{% for location in locations %}
<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-8">
        <h2 class="card-title"><strong>{{location.description}}</strong></h2>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('location', location_id=location.id) }}" class="btn btn-primary">
          <i class="far fa-eye"></i> {{ _('Explore') }}
        </a>
        <a href="#edit-location-{{location.id}}-modal" class="btn btn-warning" role="button" data-toggle="modal">
          <i class="fas fa-edit"></i> {{ _('Edit') }}
        </a>
        <a href="#delete-location-{{location.id}}-modal" class="btn btn-danger" role="button" data-toggle="modal">
          <i class="fas fa-trash-alt"></i> {{ _('Delete') }}
        </a>
      </div>
    </div>
    <p class="card-text"><strong>{{ _('Items') }}:</strong> {{location.items|length}}</p>
    <a href="#new-item-in-{{location.id}}-modal" class="btn btn-success" role="button" data-toggle="modal">
      <i class="fas fa-plus"></i> {{ _('New item') }}
    </a>
  </div>
</div>
{{ loc_ed.location_editor_modal(location) }}
{{ loc_del.delete_location_modal(location) }}
{{ it_ed.item_editor_modal(locations=locations, default_location=location) }}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  modal_focus = function(modal_id, input_id) {
    $(modal_id).on('shown.bs.modal', function () {
      $(input_id).trigger('focus');
    });
  }
  modal_focus('#new-location-modal', '#loc-description');
  {% for location in locations %}
  modal_focus('#edit-location-{{location.id}}-modal', '#loc-description-{{location.id}}');
  modal_focus('#new-item-in-{{location.id}}-modal', '#item-description-in-{{location.id}}');
  {% endfor %}
</script>
{% endblock %}
