{% extends "layout.html" %}

{% from "_formhelpers.html" import make_modal_form %}

{% block main %}
<div class="row mb-3">
  <h1 class="col-sm-9">{{ _('Location: %(name)s', name=location.description) }}</h1>
  <div class="col-sm-3 mt-2">
    <a href="#{{forms['edit_location_{}'.format(location.id)].modal_id}}" class="btn btn-warning" role="button" data-toggle="modal">
      <i class="fas fa-edit"></i> {{ _('Edit') }}
    </a>
    <a href="#{{forms['delete_location_{}'.format(location.id)].modal_id}}" class="btn btn-danger" role="button" data-toggle="modal">
      <i class="fas fa-trash-alt"></i> {{ _('Delete') }}
    </a>
  </div>
</div>
<div class="row mb-1">
  <h2 class="col-sm-9"><strong>{{ _('Items') }}</strong></h2>
  <div class="col-sm-3">
    <a href="#{{forms['new_item_in_{}'.format(location.id)].modal_id}}" class="btn btn-success" role="button" data-toggle="modal">
      <i class="fas fa-plus"></i> {{ _('New item') }}
    </a>
  </div>
</div>

{{ make_modal_form(forms['edit_location_{}'.format(location.id)]) }}
{{ make_modal_form(forms['delete_location_{}'.format(location.id)]) }}
{{ make_modal_form(forms['new_item_in_{}'.format(location.id)]) }}

{% if not location.items %}
<p class="lead">{{ _('No items in this location yet, try creating some item first.') }}</p>
{% endif %}
{% for item in location.items %}
<div class="card mb-2">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-9">
        <h3 class="card-title"><strong>{{item.description}}</strong></h3>
      </div>
      <div class="col-sm-3">
        <a href="#{{forms['edit_item_{}'.format(item.id)].modal_id}}" class="btn btn-warning" role="button" data-toggle="modal"><i class="fas fa-edit"></i> {{ _('Edit') }}</a>
        <a href="#{{forms['delete_item_{}'.format(item.id)].modal_id}}" class="btn btn-danger" role="button" data-toggle="modal"><i class="fas fa-trash-alt"></i> {{ _('Delete') }}</a>
      </div>
    </div>
    {% if item.quantity is not none %}
    <p class="card-text"><strong>{{ _('Quantity:') }} </strong>{{item.quantity}}</p>
    {% endif %}
  </div>
</div>
{{ make_modal_form(forms['edit_item_{}'.format(item.id)], title_level="3") }}
{{ make_modal_form(forms['delete_item_{}'.format(item.id)], title_level="3") }}
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/modal-helper.js')}}"></script>
{% endblock %}
