{% extends "layout.html" %}

{% import 'modal-form.html' as modal %}

{% block main %}
<h1>Dale</h1>
<a href="#register-modal" class="btn btn-success" role="button" data-toggle="modal">
    Registrate perro
</a>
<a href="#register-modal2" class="btn btn-success" role="button" data-toggle="modal">
    Registrate perro 2
</a>
{% set form_fields1 = [form1.username, form1.email, form1.password, form1.confirm, form1.language] %}
{% set form_fields2 = [form2.username, form2.email, form2.password, form2.confirm, form2.language] %}

{{ modal.modal_form('register-modal', 'Register', form1, form_fields1, autofocus=form1.username, save=_('Register')) }}
{{ modal.modal_form('register-modal2', 'Register', form2, form_fields2, autofocus=form2.username, save=_('Register')) }}
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{url_for('static', filename='js/modal-helper.js')}}"></script>
{% endblock %}
