{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/simple-form.css')}}">
{% endblock %}

{% from "_formhelpers.html" import make_form %}

{% block main %}
{% if not user %}
{% set title = _('User registration') %}
{% else %}
{% set title = _('User profile') %}
{% endif %}
{% set form_fields = [form.firstname, form.lastname, form.email, form.language,
                      form.username, form.password, form.confirm_password] %}
{{ make_form(title, form, form_fields, autofocus=form.firstname, save=_('Register')) }}
{% endblock %}
